<div class="container-fluid footer" >
    <div class="row">

        <div class="col-lg-4">
            <h3>ForTheGraterGood</h3>
        </div>
        <div class="col-lg-4" style="text-align: center;">
            <a routerLink="">Home</a>
            <a routerLink="problem">Problem-Def</a>
            <a routerLink="solution">Solution</a>
            <a routerLink="contact">Contact</a>
        </div>
        <div class="col-lg-4">
            <!-- TODO: change this to my git -->
            <a href="https://github.com/DamianWasTaken/VertexAIHackaton" style="float: right"><i class="bi bi-github"></i></a> 
        </div>

    </div>
</div>